{% extends 'web/base.html' %}

{% block content %}
    <h1>main html</h1>
    <ul>
        {% for el in projects %}
            <li>
                <h2>{{ el.name }}</h2>
                <p>{{ el.description }}</p>
                <a href="{{ el.link_to_source_code }}">Source code</a>
                {% if el.preview_img is not '' %}
                    <img src="media/{{ el.preview_img }}" alt="preview_img">
                {% endif %}
                <a href='{% url 'projects_edit' el.id %}'>Edit</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}